
$themes: (
 
    light: (
        textColor: #585858,
        bg: white,
        bgCard: #f0f4f9,
        bgCardHover: #dfe4ea,
        bgIconHover: #e2e6eb,
        entryColor: #282828,
        bgNewChat: #e6eaf1,
    ),
    dark: (
      textColor: #B6BEC9,
        bg: #1A1E23,
        bgCard: #1A1E23,
        bgCardHover: #3f3f3f,
        bgIconHover: #767676,
        entryColor: #fafafa,
        bgNewChat: #e6eaf1,
    ),
  );
  
  @mixin themify($themes) {
    // will iterate through each child and change the name, from light to dark
    @each $theme, $map in $themes {
      .theme-#{$theme} & {
        $theme-map: () !global;
        @each $key, $submap in $map {
          $value: map-get(map-get($themes, $theme), "#{$key}");
          $theme-map: map-merge(
            $theme-map,
            (
              $key: $value,
            )
          ) !global;
        }
        @content;
        $theme-map: null !global;
      }
    }
  }
  
  @function theme($key) {
    @return map-get($theme-map, $key);
  }
  
  @mixin mobile {
    @media (max-width: 480px) {
      @content;
    }
  }
  
  @mixin tablet {
    @media (max-width: 960px) {
      @content;
    }
  }
  